h1{
    background-color: rgb(101, 101, 22);
    text-align: left;
    height: 70px;
    width:200px;
    
    border: 15px solid rgb(202, 224, 6);
    padding: 10px;
    border-radius: 20px;
    }
    h2{
        background-color: rgb(101, 101, 22);
        border: 2px solid rgb(202, 224, 6);
    }
    p{
        background-color: rgb(255, 208, 0);
        border-top : 5px solid rgb(0, 0, 0);
        padding: 10px;
        margin: 15px;
    }